
.pageContent {
    padding-top: 60px;
}


.homeButton {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
    transition: transform 0.2s ease;
}

.homeButton:hover {
    transform: scale(1.1);
}

/* Responsive Navigation */
@media (max-width: 600px) {
    .navContainer {
        align-items: center;
    }

    .navLink {
        padding: 10px 0;
    }
}